* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
}

input, button {
  font-size: inherit;
  font-family: inherit;
  border: none;
}

input:focus, button:focus {
  outline: none;
}

ul, li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button, input[type=submit] {
  cursor: pointer;
  background: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Raleway", sans-serif;
}

.container-1060 {
  max-width: 1060px;
  margin-inline: auto;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.text-lg {
  font-size: 28px;
}

.text-sm {
  font-size: 17px;
}

.text-gray {
  color: #c4c4c4;
}

.mr-40px {
  margin-right: 40px;
}

.container__header {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container__nav {
  width: 100%;
  margin: 0 auto;
}

.nav__text {
  padding-top: 5px;
  padding-bottom: 4px;
  text-align: center;
}
.nav__text a {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.588;
  text-transform: uppercase;
  color: #000000;
  font-family: "Roboto";
}

.container__header {
  background: linear-gradient(260.33deg, #0047FF -13.37%, #00BCD4 109.53%);
}

.container__nav {
  background-color: black;
}

.nav {
  padding-bottom: 166px;
  background-color: black;
}

.nav__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1170px;
  padding-top: 22px;
  padding-bottom: 18px;
  margin: 0 auto;
}

.nav__list {
  display: flex;
  align-items: center;
  -moz-column-gap: 56px;
       column-gap: 56px;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.588;
  color: #848895;
}

.left-line-aqua {
  padding-left: 10px;
  position: relative;
}
.left-line-aqua::before {
  content: "";
  display: inline-block;
  width: 2px;
  height: 33px;
  background: #1fcff1;
  position: absolute;
  top: -3px;
  left: -5px;
}

.left-line-violet {
  padding-left: 10px;
  position: relative;
}
.left-line-violet::before {
  content: "";
  display: inline-block;
  width: 2px;
  height: 33px;
  background: #9945ff;
  position: absolute;
  top: -3px;
  left: -5px;
}

.left-line-yellow {
  padding-left: 10px;
  position: relative;
}
.left-line-yellow::before {
  content: "";
  display: inline-block;
  width: 2px;
  height: 33px;
  background: #ffd512;
  position: absolute;
  top: -3px;
  left: -5px;
}

.left-line-green {
  padding-left: 10px;
  position: relative;
}
.left-line-green::before {
  content: "";
  display: inline-block;
  width: 2px;
  height: 33px;
  background: #19fb9b;
  position: absolute;
  top: -3px;
  left: -5px;
}

.mass-adoption {
  background: #082f06;
  color: #fff;
  padding-top: 60px;
  padding-bottom: 20px;
}
.mass-adoption__header-col h2 {
  font-size: 40px;
}
.mass-adoption__header-col span {
  font-size: 16px;
  text-transform: uppercase;
}
.mass-adoption__point {
  padding-left: 10px;
  position: relative;
}
.mass-adoption__point::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  background: #1fcff1;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 0;
}
.mass-adoption__card {
  max-width: 340px;
  padding: 30px;
  border-radius: 24px;
  background-color: rgba(0, 0, 0, 0.28);
  margin-bottom: 12px;
}
.mass-adoption__card h3 {
  margin-bottom: 10px;
}
.mass-adoption__card a {
  color: #19fb9b;
  text-decoration: underline;
}
.mass-adoption__card a:hover {
  text-decoration: none;
}
.mass-adoption__number {
  display: block;
  margin-bottom: 10px;
}
.mass-adoption__number_desc {
  text-transform: uppercase;
}
.mass-adoption p {
  margin-bottom: 20px;
}/*# sourceMappingURL=main.css.map */