* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
}

input, button {
  font-size: inherit;
  font-family: inherit;
  border: none;
}

input:focus, button:focus {
  outline: none;
}

ul, li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button, input[type=submit] {
  cursor: pointer;
  background: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Raleway", sans-serif;
}

.container-1060 {
  max-width: 1060px;
  margin-inline: auto;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.text-lg {
  font-size: 28px;
}

.text-sm {
  font-size: 17px;
}

.text-white {
  color: #fff;
}

.text-gray {
  color: #c4c4c4;
}

.text-violet {
  color: #9945ff;
}

.text-green {
  color: #19fb9b;
}

.text-yellow {
  color: #ffd512;
}

.text-pink {
  color: #f087ff;
}

.mr-40px {
  margin-right: 40px;
}

.container__header {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container__nav {
  width: 100%;
  margin: 0 auto;
}

.nav__text {
  padding-top: 5px;
  padding-bottom: 4px;
  text-align: center;
}
.nav__text a {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.588;
  text-transform: uppercase;
  color: #000000;
  font-family: "Roboto";
}

.container__header {
  background: linear-gradient(260.33deg, #0047FF -13.37%, #00BCD4 109.53%);
}

.container__nav {
  background-color: black;
}

.nav {
  padding-bottom: 166px;
  background-color: black;
}

.nav__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1170px;
  padding-top: 22px;
  padding-bottom: 18px;
  margin: 0 auto;
}

.nav__list {
  display: flex;
  align-items: center;
  -moz-column-gap: 56px;
       column-gap: 56px;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.588;
  color: #848895;
}
.nav__list a:hover {
  color: #8C01FA;
  transition: all 0.2s ease-in;
}

.main {
  background-color: black;
}

.content {
  max-width: 1196px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.content__text {
  padding-bottom: 48px;
  text-align: center;
}
.content__text p {
  color: #FFFFFF;
  padding-top: 55px;
  font-weight: 400;
  font-size: 21px;
  line-height: 27px;
  margin: 0 auto;
  max-width: 589px;
}

.content__title {
  font-weight: 400;
  font-size: 70px;
  line-height: 76px;
  letter-spacing: 0.68px;
  color: #FFFFFF;
}

.content__buttons {
  display: flex;
  justify-content: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
  padding-bottom: 119px;
}

.btn__left {
  color: #FFFFFF;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  border: 1px solid #FFFFFF;
  border-radius: 36px;
  padding: 16px 33px 16px 33px;
}
.btn__left:hover {
  background: linear-gradient(98.88deg, #8C01FA -2.99%, #000000 102.28%);
  color: #8C01FA;
  transition: all 0.3s ease-in;
  border: none;
}

.btn__right {
  color: #FFFFFF;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  border: 1px solid #FFFFFF;
  border-radius: 36px;
  padding: 16px 33px 16px 33px;
}
.btn__right:hover {
  background: linear-gradient(98.88deg, #8C01FA -2.99%, #000000 102.28%);
  color: #8C01FA;
  transition: all 0.3s ease-in;
  border: none;
}

.content__powering {
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #618ADC;
  text-align: center;
  padding-bottom: 40px;
}

.content__socials {
  display: flex;
  justify-content: space-between;
  max-width: 1166px;
  padding-bottom: 141px;
}

.content__items {
  max-width: 1166px;
}

.container__number {
  max-width: 1196px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.number__row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 159px;
}

.number__text {
  max-width: 326px;
  padding-top: 77px;
}

.number__title {
  font-weight: 400;
  font-size: 38px;
  line-height: 46px;
  letter-spacing: 1px;
  color: #FFFFFF;
}

.millions {
  padding-bottom: 45px;
}

.number {
  font-size: 101px;
  line-height: 132px;
  background: linear-gradient(261.81deg, #19FB9B -8.01%, #8C01FA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.number__p {
  font-size: 16px;
  line-height: 27px;
  text-transform: uppercase;
  color: #C4C4C4;
}

.number__valute {
  padding-right: 123px;
}

.left-line-aqua {
  padding-left: 10px;
  position: relative;
}
.left-line-aqua::before {
  content: "";
  display: inline-block;
  width: 2px;
  height: 33px;
  background: #1fcff1;
  position: absolute;
  top: -3px;
  left: -5px;
}

.left-line-violet {
  padding-left: 10px;
  position: relative;
}
.left-line-violet::before {
  content: "";
  display: inline-block;
  width: 2px;
  height: 33px;
  background: #9945ff;
  position: absolute;
  top: -3px;
  left: -5px;
}

.left-line-yellow {
  padding-left: 10px;
  position: relative;
}
.left-line-yellow::before {
  content: "";
  display: inline-block;
  width: 2px;
  height: 33px;
  background: #ffd512;
  position: absolute;
  top: -3px;
  left: -5px;
}

.left-line-green {
  padding-left: 10px;
  position: relative;
}
.left-line-green::before {
  content: "";
  display: inline-block;
  width: 2px;
  height: 33px;
  background: #19fb9b;
  position: absolute;
  top: -3px;
  left: -5px;
}

.mass-adoption {
  background: #082f06;
  color: #fff;
  padding-top: 60px;
  padding-bottom: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .mass-adoption__wrap {
    flex-flow: column wrap;
  }
}
@media screen and (max-width: 767px) {
  .mass-adoption__wrap {
    flex-flow: row wrap;
  }
}
.mass-adoption__col h2 {
  font-size: 40px;
}
.mass-adoption__col span {
  font-size: 16px;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .mass-adoption__col {
    display: flex;
  }
}
.mass-adoption__point {
  padding-left: 10px;
  position: relative;
}
.mass-adoption__point::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  background: #1fcff1;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 0;
}
.mass-adoption__card {
  max-width: 340px;
  padding: 30px;
  border-radius: 24px;
  background-color: rgba(0, 0, 0, 0.28);
  margin-bottom: 12px;
}
.mass-adoption__card h3 {
  margin-bottom: 10px;
}
.mass-adoption__card a {
  color: #19fb9b;
  text-decoration: underline;
}
.mass-adoption__card a:hover {
  text-decoration: none;
}
.mass-adoption__number {
  display: block;
  margin-bottom: 10px;
}
.mass-adoption__number_desc {
  text-transform: uppercase;
}
.mass-adoption p {
  margin-bottom: 20px;
}

.join {
  background-color: #42257e;
  margin-inline: -50px;
  padding: 20px;
}
.join > h2 {
  font-size: 38px;
  margin-bottom: 20px;
}
.join__card-text {
  background-color: #19161c;
  color: #bababa;
  text-transform: uppercase;
  text-align: center;
  border-radius: 8px;
  height: 200px;
}
.join__card-head {
  font-size: 37px;
  margin-bottom: 10px;
}
.join__card-desc {
  font-size: 12px;
}

.join__gallery {
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media screen and (max-width: 767px) {
  .join__gallery {
    flex-flow: column nowrap;
  }
}
.join__gallery * img {
  width: 100%;
  height: 100%;
}
.join__gallery__double {
  flex-basis: 300px;
  row-gap: 20px;
}

.its-time {
  background-color: black;
  padding: 60px 30px;
}
.its-time__wrap {
  max-width: 736px;
  margin-inline: auto;
}
.its-time__header {
  font-size: 38px;
  text-align: center;
  margin-bottom: 20px;
}
.its-time__start-btn {
  color: #fff;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  border: 1px solid #fff;
  border-radius: 36px;
  padding: 16px 33px 16px 33px;
  background: linear-gradient(98.88deg, #8C01FA -2.99%, #000000 102.28%);
  border: none;
}/*# sourceMappingURL=main.css.map */