@mixin left-line($color) {
    padding-left: 10px;
    position: relative;

    &::before {
        content: "";
        display: inline-block;
        width: 2px;
        height: 33px;
        background: $color;
        position: absolute;
        top: -3px;
        left: -5px;
    }
}

@mixin tablet() {
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        @content;
    }
}

@mixin mobile() {
    @media screen and (max-width: 767px) {
        @content;
    }
}