.nav__text {
    padding-top: 5px;
    padding-bottom: 4px;
    text-align: center;

    a {
        font-weight: 400;
    font-size: 17px;
    line-height: 1.588;
    text-transform: uppercase;
    color: #000000;
    font-family: 'Roboto';
    }
}

.container__header {
    background: linear-gradient(260.33deg, #0047FF -13.37%, #00BCD4 109.53%);
}